{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}
	{% block body %}
		{% block content %}
			<h1>{{ app.request.attributes.get('pageName') }} {{ number }}</h1>
			<img src="{{ asset('images/cat_sm.jpg') }}" alt="Cat"/>
		{% endblock %}
	{% endblock %}